<div class="container">
  <div class="row pt-5 pb-4">
    <div class="col-12">
      <h1 class="text-center">It's awesome that ..</h1>
      <p class="fw-bold text-muted text-center">
        You can build your dream project with angular too {{details[0].name}}
      </p>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-md-6 mx-auto">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla
        explicabo officiis laboriosam quos nihil suscipit ut obcaecati, repellat
        atque incidunt. Libero doloribus placeat perspiciatis itaque optio sequi
        molestiae aperiam iure error, similique incidunt? Dolorem, molestiae
        veniam repudiandae quibusdam nulla, ipsum fuga ratione recusandae
        laudantium perferendis debitis animi necessitatibus ea reprehenderit!
      </p>
    </div>
  </div>
  <div class="row pb-3 mt-4 text-center">
    <div class="col-md-4" *ngFor="let a of details ">
      <div class="card shadow" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> {{a.name}}</h5>
          <p class="card-text">{{a.email}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>
